:root {
  --main-color: #EFB000;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  transition: background-color 0.5s ease-in-out;
  color: #3c3333;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.font-provider {
  font-family: "Nova Mono", "Kosugi Maru", serif;
  font-weight: 400;
  font-style: normal;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
  padding: 1rem 0;
  max-width: 1000px;
  width: 100%;

  .spacer {
    width: 30%;
  }

  .logo-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 2rem;

    a {
      color: #fff;
    }

    a:hover {
      color: #444;
    }
  }
}

.content-area-frame {
  background-color: #f9f9f9;
  margin: 0 3rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}

.content-area {
  max-width: 800px;
  padding: 0 2rem 2rem;
}

.hero-image {
  width: 100%;
  height: auto;
  padding: 2rem 2rem 0;
}

.catchcopy {
  padding: 0 0 2rem;

  h1 {
    font-size: 3rem;
  }

  p {
    margin: 0.4rem 0;
  }
}

.product-article {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #fff;
  border: 3px solid #ddd;
  border-radius: 1rem;
  border-style: dashed;

  h2 {
    font-size: 2rem;
  }
}

.site-footer {
  background-color: var(--main-color);
  transition: background-color 0.5s ease-in-out;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .site-header {
    margin: 1rem;
  }

  .product-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.color-picker {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  width: 100%;
}

.color-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: transform 0.6s, border-color 0.2s;
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  flex: 1;
}

.label-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.color-circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--button-color);
}

.color-option img {
  border-radius: 0.5rem;
  transition: transform 0.3s;
  width: 100%;
  height: auto;
}

.color-option:hover img {
  transform: scale(1.1);
}

.color-option:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.image-container {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-overview {
  margin-bottom: 2rem;
  padding: 1rem 0;

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    height: 736px;
  }

  .tile-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .item {
    overflow: hidden;
    border-radius: 0.5rem;
  }

  .item1 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .item2 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .item3 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .item4 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .item5 {
    grid-column: span 2;
    grid-row: span 1;
    background-color: #fff;
    border: 8px solid var(--main-color);
    transition: border-color 0.5s ease-in-out;
    align-content: center;
    text-align: center;

    .feature-label {
      font-size: 0.8rem;
      display: inline-block;
      padding: 0 1rem;
      margin-top: 6px;
      border: 1px solid #ccc;
      border-radius: 8rem;
      background: #e0e0e0;
      box-shadow: inset 2px 2px 6px #bebebe,
                  inset -4px -4px 6px #ffffff;
    }

    .title {
      font-size: 2rem;
      line-height: 1.4;
    }

    .pricing strong {
      font-size: 1.5rem;
    }
  }
}

.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.keen-slider {
  position: relative;
  width: 100%;
}

.keen-slider__slide {
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

.slider-prev-button, .slider-next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.slider-prev-button {
  left: 10px;
}

.slider-next-button {
  right: 10px;
}

.slider-prev-button:hover, .slider-next-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
