.background {
  background-color: #f3F2F1;
}

.header-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px 32px;
}

.header {
  border-radius: 32px;
  max-width: 840px;
  width: 100%;
  height: 64px;
  background-color: #ffffff;
  padding: 0 32px;
  display: flex;
  align-items: center;
  position: fixed;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.hero-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}

.catchcopy-wrap {
  position: relative;
  width: 100%;
  height: 0;
}

.catchcopy-text {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 40%;
  height: auto;
}

.hero-image {
  max-width: 100%;
  width: 1280px;
  height: auto;
  padding: 64px 0 0 0;
}

.main-column-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 64px;
}

.main-column {
  max-width: 1000px;
  width: 100%;
  border-radius: 32px;
  padding: 64px 128px;
  background: #f3f2f1;
  box-shadow: 8px 8px 16px #d4d3d2,
              -8px -8px 16px #ffffff;
}