body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #EFB000;
  color: #3c3333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.kosugi-maru-regular {
  font-family: "Kosugi Maru", serif;
  font-weight: 400;
  font-style: normal;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
  padding: 1rem 0;

  .spacer {
    width: 30%;
  }

  .logo-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links {
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 2rem;

    a {
      /* text-decoration: none; */
      color: #fff;
    }
    
    a:hover {
      color: #444;
    }
  }
}



.content-area-frame {
  background-color: #f9f9f9;
  margin: 0 3rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-area {
  max-width: 800px;
  padding: 0 2rem 2rem;
}

.hero-image {
  width: 100%;
  height: auto;
  padding: 2rem 2rem 0;
}


.catchcopy {
  padding: 0 0 2rem;
  
  h1 {
    font-size: 3rem;
  }

  p {
    margin: 0.4rem 0;
  }
}

.product-article {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #fff;
  border: 3px solid #ddd;
  border-radius: 1rem;
  border-style: dashed;

  h2 {
    font-size: 2rem;
  }
}

.site-footer {
  background-color: #EFB000;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .site-header {
    margin: 1rem;
  }

  .product-article {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }
}

.color-picker {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  width: 100%;
}

.color-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: transform 0.6s, border-color 0.2s;
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  
  flex: 1;
}

.label-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.color-circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--color);
}

.color-option img {
    border-radius: 0.5rem;
    transition: transform 0.3s;
    width: 100%;
    height: auto;
}

.color-option:hover img {
    transform: scale(1.1);
}

.color-option:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}


.image-container {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-overview {
  margin-bottom: 2rem;
  padding: 1rem 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  grid-template-rows: repeat(4, 1fr);     
  gap: 10px;      
  height: 736px;                     
}

.item1 {
  grid-column: span 2;  /* 3列分を占める */
  grid-row: span 2;     /* 2行分を占める */
  background-color: #aaa;
}

.item2 {
  grid-column: span 3;  /* 4列分を占める */
  grid-row: span 1;     /* 1行分を占める */
  background-color: #aaa;
}

.item3 {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #aaa;
}

.item4 {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #aaa;
}

.item5 {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #aaa;
}

.item6 {
  grid-column: span 2;
  grid-row: span 1;
  background-color: #aaa;
}

.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.keen-slider {
  position: relative;
  width: 100%;
}

.keen-slider__slide {
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

.slider-prev-button, .slider-next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.slider-prev-button {
  left: 10px;
}

.slider-next-button {
  right: 10px;
}

.slider-prev-button:hover, .slider-next-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}